.userMenu {
    position: absolute;
    top: 30%;
    right: 10px;
    border-radius: 20px;
    overflow-y: auto;
    height: fit-content;
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 45px 0 45px 0;
    z-index: 10;
    transform: translatey(0px);
    opacity: 1;
    box-shadow: -2px 10px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    @starting-style {
        transform: translatey(-30px);
        opacity: 0;
    }
    .closeButton {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: var(--mediumGrey);
        transition: color 0.3s ease;
        &:hover {
            color: var(--slateGrey);
        }
        svg {
            width: 20px;
            height: 20px;
        }
    }
    .logout {
        background-color: transparent;
        color: var(--error);
        font-weight: 600;
        width: 70%;
        border: none;
        cursor: pointer;
        transition: color 0.3s ease;
        &:hover {
            color: rgb(255, 46, 46);
        }
    }
}
