@use "@/app/mixins.scss" as mixins;
.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        @include mixins.title-style;
    }
    .header {
        display: flex;
        align-items: center;
        gap: 30px;
    }
}
