@use "@/app/mixins.scss" as mixins;
.mainContainer {
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    .subtitle {
        color: var(--dark);
        text-align: left;
        width: 100%;
    }
    .title {
        @include mixins.title-style;
    }
}
